<div class="container">
    <nav>
        <h2><a title="Marvelpedia" [routerLink]="'/'">Marvelpedia</a></h2>
        <div class="container_nav_links">
            <a title="Characters" [routerLink]="'/characters'">
                Characters
            </a>
            <a title="Creators" [routerLink]="'/creators'">
                Creators
            </a>
        </div>
        <button *ngIf="this.tokenService.hasAuthToken()" (click)="logout()">
            Logout
        </button>
    </nav>
    <router-outlet></router-outlet>
</div>
