<h1>Creators</h1>
<p>
    The list below shows official Marvel creators. Click a link to see the
    details page.
</p>

<table>
    <tr *ngFor="let creator of creators">
        <td>
            <img
                [src]="
                    creator.thumbnail.path + '.' + creator.thumbnail.extension
                "
            />
        </td>
        <td>
            <h3>
                <a
                    [title]="creator.fullName + ' details'"
                    [routerLink]="['/creators', creator.id]"
                >
                    {{ creator.fullName }}
                </a>
            </h3>
        </td>
    </tr>
</table>
